body {
  background-color: lightyellow;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

.button {
  margin: 4px;
  border-radius: 4px;
}

.layer {
  font-size: small;
  background-color: darkgray;
  padding: 0px 2px;
  margin: 2px;
  border: 1px solid gray;
  border-radius: 4px;
}

.correct {
  color: green;
}

.correct::after {
  content: " ✓";
}

.insertable::before {
  content: "+ ";
}

.removable::after {
  content: " ✕";
}

.hl-keyword, .hl-type {
  color: #00f;
}

.hl-variable {
  color: #001080;
}

.hl-number {
  color: #09885a;
}
