body {
  background-color: lightyellow;
  font-family: sans-serif;
  font-size: 16px;
}

input,
button {
  font-family: inherit;
  font-size: 13px;
  padding: 0px 2px;
  border: 1px solid gray;
  border-radius: 4px;
}

.app {
  text-align: center;
}

.layer {
  background-color: lightgray;
}

.correct {
  color: green;

  &::after {
    content: " ✓";
  }
}

.insertable::before {
  content: "+ ";
}

.removable::after {
  content: " ✕";
}

.hl-keyword {
  color: #0000ff;
}

.hl-numeric {
  color: #098658;
}

.hl-operator {
  color: #000000;
}

.hl-basic-type {
  color: #0000ff;
}

.hl-type {
  color: #267f99;
}

.hl-variable {
  color: #001080;
}
